{% include "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/include/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}">
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>All my posts</h2>
        <ul>
            {% include "blog\include\posts.html" %}
            {% include "blog\include\posts.html" %}
            {% include "blog\include\posts.html" %}
            {% include "blog\include\posts.html" %}
            {% include "blog\include\posts.html" %}
            {% include "blog\include\posts.html" %}
        </ul>
    </section>
{% endblock %}
